<div class="container">
    <div class="row">
        <div class="col-md-12 coming-soon-header">
            <a class="brand" href="index.html">
                <img src="assets/pages/img/logo-big.png" alt="logo"/> </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 coming-soon-content">
            <h1>Coming Soon!</h1>

            <p> We're getting everything ready for the best app you've laid eyes on. Signup for our newsletter and
                receive updates on when we're releasing this awesome website.</p>
            <br>

            <form class="form-inline" action="#">
                <div class="input-group input-group-lg input-large">
                    <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn green" type="button"> Subscribe</button>
                            </span>
                </div>
            </form>
            <ul class="social-icons margin-top-20">
                <li>
                    <a href="{{app.facebookUrl}}" data-original-title="Facebook" class="facebook"> </a>
                </li>
                <li>
                    <a href="{{app.twitterUrl}}" data-original-title="Twitter" class="twitter"> </a>
                </li>
                <li>
                    <a href="{{app.linkedInUrl}}" data-original-title="Linkedin" class="linkedin"> </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 coming-soon-countdown">
            <div id="defaultCountdown"></div>
        </div>
    </div>
    <!--/end row-->
    <div class="row">
        <div class="col-md-12 coming-soon-footer"> 2015 &copy; {{app.company}}</div>
    </div>
</div>