<form-wizard action="setupApp" title="Setup Application" steps="2">
    <form-wizard-step number="1" title="App Information" scope="scope">
        <form-wizard-step-input type="text" label="Name" property="scope.name" col="8"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Description" property="scope.description" col="8"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Company Name" property="scope.company" col="8"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Domain" property="scope.domain" col="8"></form-wizard-step-input>
    </form-wizard-step>

    <form-wizard-step number="2" title="Social Information" scope="scope">
        <form-wizard-step-input type="text" label="Facebook URL" property="scope.facebookURL" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Facebook API" property="scope.facebookAPI" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Twitter URL" property="scope.twitterURL" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Twitter API" property="scope.twitterAPI" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="LinkedIn URL" property="scope.linkedInURL" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="LinkedIn API" property="scope.linkedInAPI" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Google URL" property="scope.googleURL" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Google API" property="scope.googleAPI" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Windows URL" property="scope.windowsURL" col="6"></form-wizard-step-input>
        <form-wizard-step-input type="text" label="Windows API" property="scope.windowsAPI" col="6"></form-wizard-step-input>
    </form-wizard-step>

</form-wizard>